[submodule "lighthouse"]
	path = lighthouse
	url = git@github.com:thor314/lighthouse.git
[submodule "imp"]
	path = imp
	url = git@github.com:thor314/imp.git
[submodule "trycmd"]
	path = trycmd
	url = git@github.com:thor314/trycmd.git
